body {
    margin: 0px 0px 0px 0px;
}
.body-index{
    background-color: #110b4d;
}
#titulo {
    color: blue;
    font-size:50;
    font-weight: bold;
}
p { 
    text-indent: 1em;
}
#botonera{
    background-color: black;
    width: 100%;
    height: 70px;
   
}
#botonera ul{
    margin: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    height: 100%;  
    padding: 0;
}

#botonera ul li{
  display: inline;
  width:25%;
  
}
#botonera ul li a{
  text-decoration: none;
  display: flex;
  color:#696762 ;
  font-weight: bold;
  box-sizing: content-box;
  height: 100%;
  width: 100%;
    justify-content: center;
    align-items: center;


}
#image{
  
    max-width: 100%;
    height: auto;
}
#section{
    width: 100%;
    padding: 0px;
    margin:0px;

}
#botonera ul li a:hover{
   background-color: #696762;
   color: white;

 }
#formacion{
    display:flex;
    justify-content: center;
    align-items: center;
}
#img-description{
    display: flex;
    text-align: center;
    width: 80%;
    color:white
}
#article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#table{
    width: 70%;
    margin-left: 15%;
    
}
#table-goleadores{
    padding:5;
}
#text-adivinanza{
    text-align: center;
}
#adivinanza{
    display: flex;
    align-items: center;
}
#respuesta{
    text-align: center;
}